Source: ros-kinetic-op3-kinematics-dynamics
Section: misc
Priority: extra
Maintainer: Pyo <pyo@robotis.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-cmake-modules, ros-kinetic-robotis-math, ros-kinetic-roscpp
Homepage: http://wiki.ros.org/robotis_op3
Standards-Version: 3.9.2

Package: ros-kinetic-op3-kinematics-dynamics
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-cmake-modules, ros-kinetic-robotis-math, ros-kinetic-roscpp
Description: The op3_kinematics_dynamics package
